/****************************МОБИЛКА********************************************/

.navigation-list {
  display: none;
}
.info {
  display: none;
}
.header {
  padding-top: 16px;
  padding-bottom: 16px;
}

.burger-btn,
.mobile-menu-close-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
.burger-icon,
.icon-mobile-menu {
  width: 40px;
  height: 40px;
  fill: black;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-btn:hover .burger-icon,
.burger-btn:focus .burger-icon {
  fill: var(--accent-color);
}

.mobile-menu-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
}
.mobile-menu-close-btn:hover .icon-mobile-menu,
.mobile-menu-close-btn:focus .icon-mobile-menu {
  fill: var(--accent-color);
}

.mobile-menu {
  z-index: 58;
  position: fixed;
  top: 0;
  left: 50%;
  width: 100vw;
  max-width: 480px;
  height: 100vh;
  padding: 48px 40px;
  transform: translateX(-50%);
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.navigation-list-menu {
  flex-direction: column;
  display: flex;
  margin-bottom: 306px;
}
.info-mobile-menu {
  flex-direction: column;
  display: flex;
  
}


.navigation-link-studio-menu,
.navigation-link-menu {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: black;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-link-studio-menu:hover,
.navigation-link-studio-menu:focus {
  color: var(--accent-color);
}
.navigation-link-menu:hover,
.navigation-link-menu:focus {
  color: var(--accent-color);
}

.tel-link {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);

}
.mail-link {
  color: var(--accent-second-color);
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-bottom: 64px;
}
.mobile-social-menu {
  display: flex;
}
.mobile-social-item:not(:last-child) {
  margin-right: 10px;
}
.mobile-social-link {
  @include font(18px, 500, 1.22);
  letter-spacing: 0.02em;
  font-family: var(--main-font);
  color: var(--accent-color);
}
@media screen and (max-width:768px) {
  .tel-link {
    
    margin-bottom: 32px;
  }
  .navigation-item:not(:last-child){
    margin-bottom:32px ;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;

  }
  .navigation-link-studio-menu{
    color: var(--accent-color);
  }
}
/************************ ПЛАНШЕТ  ****************************/

@media screen and (min-width: 768px) {
  .header {
    padding-top: 26px;
    padding-bottom: 26px;
    border-bottom: 1px solid #ececec;
  }
  .burger-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  
}

@media screen and (min-width: 768px) {
  .navigation-list {
    display: flex;
    align-items: center;
    margin-left: 88px;
  }
  .navigaton {
    display: flex;
    align-items: center;
  }
  .navigation-item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 768px) {
  .navigation-link {
    @include font(14px, 500, 1.14);
    letter-spacing: 0.02em;
    color: #212121;
    outline: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  .navigation-link-studio {
    @include font(14px, 500, 1.14);
    letter-spacing: 0.02em;
    color: #212121;
    outline: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background: var(--accent-color);
      & {
        transform: translateY(36px);
      }
    }
  }
  .navigation-link-studio:hover,
  .navigation-link-studio:focus {
    color: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .info {
    margin-left: auto;
    display: block;
  }
  .mail-link,
  .tel-link {
    @include font(12px, 500, 1.17);
    letter-spacing: 0.02em;
    color: var(--accent-second-color);
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mail-link {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .mail-img {
    width: 14px;
    height: 10px;
    margin-right: 8px;
    fill: var(--accent-second-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .tel-img {
    width: 10px;
    height: 14px;
    margin-right: 8px;
    fill: var(--accent-second-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mail-link:hover,
  .mail-link:focus {
    color: var(--accent-color);
    outline: none;
    & .mail-img,
    & .mail-img {
      fill: var(--accent-color);
    }
  }
  .tel-img {
    margin-right: 10px;
    fill: var(--accent-second-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .tel-link:hover,
  .tel-link:focus {
    color: var(--accent-color);
    outline: none;
    & .tel-img,
    & .tel-img {
      fill: var(--accent-color);
    }
  }
}
@media screen and (min-width: 1200px)
{
  .info {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  .mail-link {
    margin-right: 30px;
    margin-bottom: 0;
  }
  .navigation-link-studio::after {
            
        transform: translateY(28px);
      }
    
  
}

