.hero {
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/background/background_mobile/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 480px;
  min-height: 400px;
  padding-top: 118px;
}
@media (min-device-pixel-ratio:2),
(min-resolution: 192dpi),
(min-resolution: 2dppx)
{
  .hero{
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/background/background_mobile/hero@2x.jpg");
  }
}
.hero-title {
  @include font(26px, 900, 1.61);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  align-items: center;
}

@media screen  and (min-width:768px) {
  .hero{
    max-width: 768px;
    padding-top: 118px;
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/background/background_tablet/tablet.jpg");
  }
  @media (min-device-pixel-ratio:2),
  (min-resolution: 192dpi),
  (min-resolution:2dppx)
  {
    .hero{
      background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/background/background_tablet/tablet@2x.jpg");
    }
  }
  .modal-btn{
    transform: translateX(0);
  }
}

@media screen  and (min-width:1200px) {
  .hero{
    max-width: 1600px;
    padding-top: 200px;
    height: 600px;
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/background/background_desktop/img.jpg");
  }
  @media (min-device-pixel-ratio:2),
  (min-resolution: 192dpi),
  (min-resolution:2dppx)
  {
    .hero{
      background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/background/background_desktop/img2@2x.jpg");
    }
    
  }
  .hero-title {
    @include font(44px, 900, 1.36);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    align-items: center;
  }
  
}



