.client {
  padding-top: 60px;
  padding-bottom: 60px;
}
.our-client {
  display: flex;
  flex-wrap: wrap;
}
.client-list{
  width: calc((100% - 30px)/2);
 
 
}
.client-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list-link {
  height: 92px;
  display: flex;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
    outline: none;
    & .client-icon,
    & .client-icon {
      fill: var(--accent-color);
    }
  }
}
.client-list:nth-child(2n+1){
  margin-right: 30px;
}
.client-list:nth-child(-n+4){
margin-bottom: 30px;
}

@media screen and (min-width:768px){
  
    .client-list{
    margin-right: 30px;
    width: calc((100% - 60px)/3);
    }
    .client-list:nth-child(3n){
      margin-right: 0;
    }
    .client-list:nth-child(4){
      margin-bottom: 0;
    }
}
@media screen and (min-width:1200px){
.client {
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-client {
  flex-wrap: nowrap;
}
.client-list:nth-child(-n+4){
  margin-bottom: 0;
  }

.client-list {
  width: calc((100% - 150px)/6);
  &:not(:last-child) {
    margin-right: 30px;
  }
}
}